const Container = styled.div`
  position: relative;
  min-height: 100vh;
  font-family: 'Bebas Neue';

  z-index: 3;

  &::after {
    @keyframes grain {
      0%,
      100% {
        transform: translate(0);
      }

      10% {
        transform: translate(-5%, -10%);
      }
      30% {
        transform: translate(3%, -15%);
      }
      50% {
        transform: translate(12%, 9%);
      }
      70% {
        transform: translate(9%, 4%);
      }
      90% {
        transform: translate(-1%, 7%);
      }
    }
    content: '';
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 1;
    background-position: 50%;
    pointer-events: none;
    animation: grain 1.5s steps(6) infinite;
    background-image: url(/noise-bg.png);
  }